.{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    box-sizing: border-box;
}
.header{
    background-color: blue;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.logo {
    font-size: 30px;
    padding: 0 40px;
    line-height: 80px;
 
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 19px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover {
    background-color: antiquewhite;
    transition: 0.5s;
}
button{
    appearance: auto;
    text-align: center;
    border-width: 2px;
}
.boton{
    
}
.loginbtn{
    font-size: 19px;
    background-color: yellowgreen;
    color: #fff;
    padding: 8px 12px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}

/* .navbar{
    background-color: wheat;
    padding: 1.5vh 0vh 1.5vh 0vh;
} */



body{
    height: 100vh;;
    width:100%;
    position:relative;
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.footer23{
    width:100%;
    position:absolute;
    bottom:0;
   
    padding: 50px;
    background-color: #A52326;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social-icons-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.social-icon{
    height: 50px;
    width:50px ;
    border-radius: 50px;
    background-image: url(Resourse/instagramBlanco.png);
    background-position: center;

}
.social-icon:hover{
    background-color: #FFFF;
    filter:invert(1);
    
}
.social-icon:nth-of-type(2){
    background-image: url(Resouces/facebookBlanco.png);
}
.pie{
    background-color: #4D4D4D;
    text-align: center;
    width: 100%;
    padding:1rem 8%;
    position: absolute;
    bottom: 0;
    
}
